/* App.css */

.page-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px; /* Adjust the width as needed */
  background-color: #333; /* Adjust the background color */
}

.main-content {
  flex: 1;
  padding: 20px;
}

.App {
  display: flex; /* Use flexbox layout */
  height: 100vh; /* Set the height of the container to 100% of the viewport height */
}

/* Apply styles to the Sidebar component */
.sideBarContainer {
  margin: '20px 20px 20px 20px';
  height: max-content;
  
}

.form-container {
  background-color: #fff; /* Adjust background color as needed */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-left: 10%;
  height: 100%;
}

.form-container-auth {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 400px;
  padding-inline: 20px;
}


body{
  background-image: url( './assets/backgroundavion.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ContentSpace{
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  height: 80%;
  width: 77%;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.ContentSpaceAuth {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}