.form-container {
    overflow-y: auto;
    max-height: 400px; /* Adjust the height as needed */
    position: absolute; 
    width: 90%;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
  }
  
  input[type="text"],
 
  input[type="number"],
  input[type="password"],
  input[type="date"],
  input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  select{
    width: calc(100%);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .slider {
    width: 5px;
    height: 100%;
    background-color: #ddd;
    border-radius: 5px;
    position: absolute;
    top: 0; 
    right: 0;
  }
  
  .submit-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  .empleados-form-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }