/* Estilos para el formulario */
.historial-laboral-form-container {
    overflow-y: auto;
    max-height: 400px; /* Ajusta la altura según sea necesario */
    position: absolute;
    width: 90%;
    padding: 20px; /* Añade espacio interno al contenedor del formulario */
  }
  .submit-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="date"] {
    width: calc(100% - 20px); /* Ajusta el ancho del input */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; /* Asegura que el padding no afecte al ancho total */
  }
  
  select {
    width: calc(100% - 20px); /* Ajusta el ancho del select */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; /* Asegura que el padding no afecte al ancho total */
  }
  
  .submit-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  