/* PuestosForm.css */
.form-container {
    overflow-y: auto;
    max-height: 400px; /* Adjust the height as needed */
    position: relative; /* Ensure slider position relative to form container */
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="password"],
  input[type="date"],
  input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .slider {
    width: 5px;
    height: 100%; /* Occupy full height of form container */
    background-color: #ddd;
    border-radius: 5px;
    position: absolute; /* Position relative to form container */
    top: 0; /* Align slider with top of form container */
    right: 0; /* Align slider with right side of form container */
  }
  
  .submit-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  